.control-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0px;
}

.control-buttons button {
  width: 70px;
  height: 70px;
  margin: 10px;
  font-size: 24px;
  border: none;
  border-radius: 50%;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.horizontal-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 200px; /* Increase this value to move the right button further */
  margin: 0 auto; /* Center the container */
}

.horizontal-buttons button {
  margin-top: 0;
  margin-bottom: 0;
}

.horizontal-buttons button:first-child {
  margin-right: auto; /* Push the left button to the left */
  margin-left: 0; /* Remove left margin */
}

.horizontal-buttons button:last-child {
  margin-left: auto; /* Push the right button to the right */
  margin-right: 0; /* Remove right margin */
}

.control-buttons button:active {
  background-color: #0056b3;
}

.control-buttons > div {
  display: flex;
  justify-content: center;
}

/* Add this new style */
.vertical-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.vertical-buttons button {
  margin: 2px 0; /* Reduced vertical margin */
}
